/CadastroAluno.class
/CadastroProfessor.class
/Cursos.class
/Disciplina.class
/PrincipalCadastro.class
/PrinciplaDisciplina.class
/explicaçãoVetor.class
/principalCadastroAluno.class
/PrincipalCurso.class
